---
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';

const seo = {
	title: '404: Page Not Found | SketchMate',
	description: 'The page you are looking for doesn’t exist on SketchMate. Check the URL or go to our homepage.',
};
---

<Layout {seo}>
	<Container>
		<h2>Oops, page not found</h2>
		<img src="/assets/images/404-error.svg" width="300" height="300"/>
		<div class="cta-buttons__container">
			<Button
				href="/"
			>
				Return home
			</Button>
		</div>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
