---
import {Icon} from 'astro-icon'
import {
    AnnouncementBar,
    Button,
    CustomerQuoteSection,
    ThreeColumnTextSection,
    YouTubeEmbedSection,
    StickyTextImageSection,
    CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import {sortPosts} from '../helper.js';

const seo = {
    title: 'SketchMate | Sketch Your Day',
    description: 'SketchMate is the app for digital sketching and sharing. Craft and share your sketches effortlessly. No sign-ups, no fuss, pure creativity.',
};

const posts = await Astro.glob('./blog/posts/*.mdx').then(posts => sortPosts(posts))
---

<Layout seo={seo}>
    <AnnouncementBar text="Read our latest blog post" href={posts[0].url}
                     slot="announcement-bar"/>
    <TextAndImageHero>

        <div slot="text-container" id="text-container">
            <h1 id="text-heading">SketchMate</h1>
            <p id="text-description">Sketch your day and share the creativity with a friend. No hassle, just fun.</p>
        </div>
        <div slot="btns-container">
            <Button href="https://app.sketchmate.ninja" customIcon
            >Start Sketching
                <Fragment slot="icon">
                    <Icon name="ic:baseline-chevron-right"/>
                </Fragment>
            </Button
            >
        </div>
        <picture slot="image-container">
            <img
                    src="/assets/images/landing/landing_1.webp"
                    alt="SketchMate 1"
                    style="object-fit: contain;height: auto; margin: auto; width:60%"
            />
        </picture>
    </TextAndImageHero>

    <CustomerQuoteSection
            quoteText="SketchMate has become my daily pause for creativity. It's simple, personal, and I love sharing sketches with my significant other. It's transformed how I see my day."
            customerName="Hopefully someone"
    />


    <div style="overflow-x: hidden">
        <ThreeColumnTextSection>
            <div slot="column-1-body" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <h3>Connect with a friend</h3>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_2.webp"
                            alt="SketchMate 2"
                            style="object-fit: contain; width: 60%; height: auto; margin: auto;"
                    />
                </picture>

            </div>top
            <div slot="column-2-body" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <h3>Send sketches</h3>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_3.webp"
                            alt="SketchMate 3"
                            style="object-fit: contain; width: 60%; height: auto; margin: auto;"
                    />
                </picture>
            </div>
            <div slot="column-3-body" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <h3>Rediscover your art</h3>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_4.webp"
                            alt="SketchMate 4"
                            style="object-fit: contain; width: 60%; height: auto; margin: auto;"
                    />
                </picture>
            </div>
        </ThreeColumnTextSection>
    </div>

    <StickyTextImageSection>
        <div slot="text-container">
            <h2>Features</h2>
            <h3>Start sketching immediately</h3>
            <p>
                Download SketchMate and start sketching right away. No account needed, no strings attached. Just pure
                creativity from the first moment.
            </p>
            <h3>Tools to express yourself</h3>
            <p>
                Choose from various brushes, shapes, and stickers to bring your ideas to life. Incorporate text, use
                emblems, or add images. Save your favorite characters for quick access.
            </p>
            <h3>Minimalist design</h3>
            <p>
                SketchMate sports a clean, intuitive design that keeps the focus on your creativity. Your sketches are
                organized in a simple gallery, ready to be revisited and shared.
            </p>
            <h3>Free and Open Source</h3>
            <p>
                SketchMate is entirely free with no ads and Open Source. Express yourself, share your creativity, and stay connected
                with your friends without any barriers.
            </p>
        </div>
        <picture slot="image-container" style="display: flex; justify-content: center;" data-aos="zoom-in"
                 data-aos-anchor-placement="top-center">
            <img
                    class="responsive-img"
                    src="/assets/images/landing/landing_5.webp"
                    alt="SketchMate 5"
                    style="object-fit: contain; height: auto; margin: auto; width:50%"
            />
        </picture>


    </StickyTextImageSection>


    <TextAndImageHero reversed>
        <div slot="text-container">
            <h1>Stay connected</h1>
            <p>View your friend's latest sketch straight from your widget, brightening your day with art.</p>
        </div>

        <picture slot="image-container" style="display: flex; justify-content: center;">
            <img
                    class="responsive-img"
                    src="/assets/images/landing/landing_6.webp"
                    alt="SketchMate 6"
                    style="object-fit: contain; height: auto; margin: auto; width:40%"
            />
        </picture>
    </TextAndImageHero>


    <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
        <h2>Ready to unleash Your creativity?</h2>
        <p>Begin your sketching journey now...</p>
        <Button href="https://app.sketchmate.ninja" customIcon>Start Sketching
            <Fragment slot="icon">
                <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
        </Button>
    </CtaCardSection>


</Layout>


<style>
    @media only screen and (max-width: 800px) {
        .responsive-img {
            width: 70% !important;
        }

    }
</style>