---
import {Icon} from 'astro-icon'
import {
    AnnouncementBar,
    Button,
    CustomerQuoteSection,
    ThreeColumnTextSection,
    YouTubeEmbedSection,
    StickyTextImageSection,
    CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import {sortPosts} from '../helper.js';

const seo = {
    title: 'SketchMate | Sketch Your Day',
    description: 'SketchMate is the app for digital sketching and sharing. Craft and share your sketches effortlessly. No sign-ups, no fuss, pure creativity.',
};

const posts = await Astro.glob('./blog/posts/*.mdx').then(posts => sortPosts(posts))
---

<script>
    import {createStartUrl} from '../config/helper.js';

    const links = document.querySelectorAll('a[href="https://app.sketchmate.ninja"]');
    links.forEach(link => {
        link.setAttribute('href', createStartUrl())
    })

    const div = document.querySelector('.footer-copyright__container');

    // Create the anchor element
    const anchor = document.createElement('a');
    anchor.href = 'https://play.google.com/store/apps/details?id=ninja.sketchmate.app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1';
    anchor.style.width = '200px'
    anchor.style.marginTop = '-50px'
    anchor.style.marginLeft = '-20px'

    // Create the image element
    const img = document.createElement('img');
    img.alt = 'Get it on Google Play';
    img.src = 'https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png';
    img.width = 200

    // Append the image to the anchor
    anchor.appendChild(img);

    // Append the anchor to the div
    div.prepend(anchor);
</script>

<Layout seo={seo}>
    <AnnouncementBar text="Read our latest blog post" href={posts.at([-1]).url}
                     slot="announcement-bar"/>
    <TextAndImageHero>

        <div slot="text-container" id="text-container">
            <h1 id="text-heading">SketchMate</h1>
            <p id="text-description">Sketch your day and share the creativity with a friend. No hassle, just fun.</p>
        </div>
        <div slot="btns-container">
            <Button href="https://app.sketchmate.ninja" customIcon
            >Start Sketching
                <Fragment slot="icon">
                    <Icon name="ic:baseline-chevron-right"/>
                </Fragment>
            </Button
            >
        </div>
        <picture slot="image-container">
            <img
                    src="/assets/images/landing/landing_1.webp"
                    alt="SketchMate 1"
                    style="object-fit: contain;height: auto; margin: auto; width:60%"
                    class="responsive-img"

            />
        </picture>
    </TextAndImageHero>

    <CustomerQuoteSection
            quoteText="SketchMate has become my daily pause for creativity. It's simple, personal, and I love sharing sketches with my significant other. It's transformed how I see my day."
            customerName="Hopefully someone"
    />


    <div style="overflow-x: hidden">
        <ThreeColumnTextSection>
            <div slot="column-1-body" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <h2>Connect with a friend</h2>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_2.webp"
                            alt="SketchMate 2"
                            style="object-fit: contain; width: 70%; height: auto; margin: auto;"
                            class="responsive-img"
                    />
                </picture>

            </div>top
            <div slot="column-2-body" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <h2>Send sketches</h2>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_3.webp"
                            alt="SketchMate 3"
                            style="object-fit: contain; width: 70%; height: auto; margin: auto;"
                            class="responsive-img"

                    />
                </picture>
            </div>
            <div slot="column-3-body" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <h2>Rediscover your art</h2>
                <picture slot="image-container" style="display: flex; justify-content: center;">
                    <img
                            src="/assets/images/landing/landing_4.webp"
                            alt="SketchMate 4"
                            style="object-fit: contain; width: 70%; height: auto; margin: auto;"
                            class="responsive-img"

                    />
                </picture>
            </div>
        </ThreeColumnTextSection>
    </div>

    <StickyTextImageSection>
        <div slot="text-container">
            <h1>Features</h1>
            <h2>Start sketching immediately</h2>
            <p>
                Download SketchMate and start sketching right away. No account needed, no strings attached. Just pure
                creativity from the first moment.
            </p>
            <h2>Tools to express yourself</h2>
            <p>
                Choose from various brushes, shapes, and stickers to bring your ideas to life. Incorporate text, use
                emblems, or add images. Save your favorite characters for quick access.
            </p>
            <h2>Minimalist design</h2>
            <p>
                SketchMate sports a clean, intuitive design that keeps the focus on your creativity. Your sketches are
                organized in a simple gallery, ready to be revisited and shared.
            </p>
            <h2>Free and Open Source</h2>
            <p>
                SketchMate is entirely free with no ads and Open Source. Express yourself, share your creativity, and stay connected
                with your friends without any barriers.
            </p>
        </div>
        <picture slot="image-container" style="display: flex; justify-content: center;" data-aos="zoom-in"
                 data-aos-anchor-placement="top-center">
            <img
                    class="responsive-img"
                    src="/assets/images/landing/landing_5.webp"
                    alt="SketchMate 5"
                    style="object-fit: contain; height: auto; margin: auto; width:65%"
            />
        </picture>


    </StickyTextImageSection>


    <TextAndImageHero reversed>
        <div slot="text-container">
            <h1>Stay connected</h1>
            <p>View your friend's latest sketch straight from your widget, brightening your day with art.</p>
        </div>

        <picture slot="image-container" style="display: flex; justify-content: center;">
            <img
                    class="responsive-img"
                    src="/assets/images/landing/landing_6.webp"
                    alt="SketchMate 6"
                    style="object-fit: contain; height: auto; margin: auto; width:65%"
            />
        </picture>
    </TextAndImageHero>


    <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
        <h2>Ready to unleash Your creativity?</h2>
        <p>Begin your sketching journey now...</p>
        <Button href="https://app.sketchmate.ninja" customIcon>Start Sketching
            <Fragment slot="icon">
                <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
        </Button>
    </CtaCardSection>


</Layout>


<style>
    @media only screen and (max-width: 800px) {
        .responsive-img {
            width: 80% !important;
        }

    }
</style>