---
import {parse, isBefore} from 'date-fns';
import {
    Container,
    TextCardSection,
} from '@littlesticks/odyssey-theme-components';
import BlogPostsList from '../../components/blog/BlogPostsList.astro'
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
    posts
        .map(({frontmatter, url}) => ({
            title: frontmatter.title,
            description: frontmatter.description,
            authors: frontmatter.authors,
            publishDate: parse(frontmatter.pubDate, 'MMMM d, yyyy', new Date()),
            featuredImage: frontmatter.featuredImage,
            tags: frontmatter.tags,
            excerpt: frontmatter.excerpt,
            href: url,
        }))
        .sort((a, b) => {
            if (isBefore(a.publishDate, b.publishDate)) return 1;
            if (isBefore(b.publishDate, a.publishDate)) return -1;
            return 0;
        })
);

const seo = {
    title: 'Blog | SketchMate',
    description: 'Stay updated with the latest news, feature releases, and tech insights about SketchMate. Dive into the development journey of making sketching an integral part of daily life.',
};
---

<Layout {seo}>
    <Container>
        <section class="blog-posts-list__section">
            <div class="flex-container">
                <h3 style="margin: 0">Recent Posts</h3>
                <div class="ml-embedded" data-form="l1K7rP"></div>
            </div>
            <BlogPostsList posts={posts}/>
            <div class="ml-embedded" style="padding-top: 2rem" data-form="V6Bop1"></div>
        </section>
    </Container>
</Layout>

<style>
    .blog-posts-list__section {
        margin: var(--section-margin) auto;
    }

    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    @media (min-width: 768px) {
        .flex-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }


</style>
