@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

:root {
    --font-size-sm: clamp(12.4px, 0.07vw + 12.13px, 13px);
    --font-size-base: clamp(18px, 0.25vw + 17.09px, 20px); /* increased each value */
    --font-size-md: clamp(20.5px, 0.47vw + 18.61px, 24.66px);
    --font-size-lg: clamp(22.13px, 0.84vw + 18.76px, 29.54px);
    --font-size-xl: clamp(29.16px, 1.39vw + 23.6px, 41.37px);
    --font-size-xxl: clamp(41.95px, 2.18vw + 33.22px, 61.15px);
    --font-size-xxxl: clamp(52.93px, 3.32vw + 39.64px, 82.17px);
}


html,
body {
	line-height: 1.5;
	font-family: var(--theme-font-family-sans);
	font-size: var(--font-size-base);
	color: var(--theme-on-bg);
} 

h1,
h2,
h3 {
	font-family: var(--theme-font-family-serif);
	font-weight: 700;
}

h1 {
	font-size: var(--font-size-xxl);
}

h2 {
	font-size: var(--font-size-xl);
}

h3 {
	font-size: var(--font-size-lg);
}

h1,
h2 {
	line-height: 1.1;
	font-weight: 700;
}

h3 {
	font-weight: 500;
}

h6 {
	font-size: var(--font-size-sm);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem 0;
}

blockquote {
	font-style: italic;
	font-size: var(--font-size-base);
	font-weight: 500;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	border-left: 0.25rem solid var(--theme-on-bg);
}