---
---

<p class="odyssey-logo">SketchMate
    <img src="/assets/images/signal_notification_black.webp" alt="Logo">
</p>

<style>
    .odyssey-logo {
        width: fit-content;
        margin: 0;
        font-family: var(--theme-font-family-serif);
        font-size: 1.5rem;

        color: inherit;
    }

    @media (max-width: 400px) {
        .odyssey-logo {
            font-size: 1.2rem;
        }
    }

    .odyssey-logo:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .odyssey-logo img {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        width: 42px;
        margin-top: -8px;
    }
</style>
